---
import './CourseCard.css'
const { link, title, description, imageSrc } = Astro.props
---

<a href={link} class="courseCard">
    <img transition:name={title} src={imageSrc} alt={title}>
    <div class="courseCardContent">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</a>
