---
// Importaciones
import BaseLayout from "../../layout/BaseLayout.astro";
import { fetchAllPosts, API_BASE_URL } from "../../utils";
import BlogPostCard from "./BlogPostCard.astro";
import Pagination from './Pagination.astro';
import './styles/blog.css'

// Obtención de los posts y parámetros de paginación
const posts = await fetchAllPosts(`${API_BASE_URL}/Blogs?populate=image`);
const pageSize = 6;
const totalPages = Math.ceil(posts.length / pageSize);

const postsToDisplay = posts.slice(0, pageSize);

const prevPage = null;
const nextPage = totalPages > 1 ? 2 : null;
---

<BaseLayout>
  <section class=" listBlog container">
    <h1>El blog de belleza de Silvia Mendoza: Tips y tutoriales</h1>
    <div class="blog-list">
      {postsToDisplay.length > 0 ? (
        postsToDisplay.map((blog) => <BlogPostCard blog={blog} />)
      ) : (
        <p>No se encontraron entradas.</p>
      )}
    </div>
  </section>

  <Pagination
    currentPage={1}
    totalPages={totalPages}
    prevPage={prevPage}
    nextPage={nextPage}
  />
</BaseLayout>
