---
import Card from "./Card.astro";
const { items, title, showPrice = true, showDescription = true } = Astro.props;
import "./cardContainer.css";
---

<div class="courseContainerBackground">
  <div class="container courseContainer">
    <h2>{title}</h2>
    <div class="courseCarousel">
      {items && items.length > 0 ? (
        items.map(({ link, titleCard, description, imageSrc, durationPrice }) => {
          
          return (
            <Card
              link={link}
              titleCard={titleCard}
              description={description}
              imageSrc={Array.isArray(imageSrc) ? imageSrc[0] : imageSrc} 
              durationPrice={showPrice ? durationPrice : null}
              showPrice={showPrice}
              showDescription={showDescription}
            />
          );
        })
      ) : (
        <p>No courses available.</p> 
      )}
    </div>
  </div>
</div>
