--- 
const { title, date, price, imageSrc } = Astro.props; 
import "./WorkShopCard.css"; 
---

  <img class="workshop-image" src={imageSrc} alt={title} />
  <div class="workshop-info">
    <h3 class="workshop-title">{title}</h3>
    <p class="workshop-date">{date}</p>
    <p class="workshop-price">{price}</p>
  </div>

