---
import BaseLayout from "../layout/BaseLayout.astro";
import ServiceContainer from "../components/serviceSection/ServiceContainer.astro";
import { serviceList } from "../data/serviceList";
import { cleanLink } from "../utils/helpers";

import "../styles/Servicios.css";
import CardContainer from "../components/cardContainer/CardContainer.astro";

// Obtener los paths de manera optimizada
export async function getStaticPaths() {
    return serviceList.map((service) => ({
        params: { services: cleanLink(service.link) },
    }));
}

const { services } = Astro.params;
const cleanedServices = cleanLink(services); // Limpiamos la URL solo una vez

// Buscar el servicio directamente y filtrar los servicios restantes
const service = serviceList.find(
    (service) => cleanLink(service.link) === cleanedServices,
);
const filteredService = serviceList.filter(
    (service) => cleanLink(service.link) !== cleanedServices,
);

if (!service) {
    throw new Error(`Curso con link ${services} no encontrado.`);
}

const {
    titleCard,
    subtitle,
    imageSrc,
    shortDescription,
    fullDescription,
    include,
    location,
    places,
    price,
} = service;
// Metadata
const title = `${titleCard} - Silvia Mendoza Makeup`;
const description = service.overview || "Descubre más sobre el servicio.";
---

<BaseLayout title={title} description={description} image={imageSrc}>
    <article class="service-detail-container container">
        <section class="service-header">
            <h1>{titleCard}</h1>
            <h2>{subtitle}</h2>
        </section>

        <div class="service-grid">
            <section class="service-image">
                <img
                    src={imageSrc}
                    alt={titleCard}
                    loading="lazy"
                    transition:name={titleCard}
                />
                <p class="short-description">{shortDescription}</p>
            </section>
            <div>
                <section class="service-description">
                    <p>{fullDescription[0]}</p>
                    <p>{fullDescription[1]}</p>
                </section>
                <section class="service-includes">
                    <h2>¿Qué incluye?</h2>
                    <ul>
                        {include.map((item) => <li>{item}</li>)}
                    </ul>
                </section>

                <section class="service-location">
                    <h2>Ubicación y contacto</h2>
                    <p><strong>Dirección:</strong> {location}</p>
                    <p><strong>Plazas disponibles:</strong> {places}</p>
                    <a
                        href={`https://wa.me/601532809`}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="button primary">Contacta por WhatsApp</a
                    >
                    <p><span>Precio:</span> {price}</p>
                </section>
            </div>
        </div>
    </article>
    <div class="container">

        {
            filteredService.length > 0 && (
                <CardContainer
                title="Podrían interesarte estos otros productos"
                items={filteredService}
                showSubtitle={false}
                />
            )
        }
        </div>
</BaseLayout>
