---
import './CourseCard.css'
const { link, titleCard, description, imageSrc, isStatic } = Astro.props
---

<a href={isStatic ? "/cursos-automaquillaje-barcelona" : link}
class="courseCard">
    <img transition:name={titleCard} src={imageSrc} alt={titleCard}>
    <div class="courseCardContent">
        <h3>{titleCard}</h3>
        <p>{description}</p>
    </div>
</a>


