---
import CourseCard from "./CourseCard.astro"; 
const { courses, title } = Astro.props; 

import "./CourseContainer.css";
---

<div class="courseContainerBackground">
    <div class="container courseContainer">
        <h2>{title}</h2>
        <div class="courseCarousel">
            {courses.map(({ link, titleCard, description, imageSrc, isStatic }) => (
                <CourseCard
                    link={link}
                    titleCard={titleCard}
                    description={description}
                    imageSrc={imageSrc}
                    isStatic={isStatic}
                />
            ))}
        </div>
    </div>
</div>
