---
import CourseCard from "./components/CourseCard.astro"; 
const { courses, title } = Astro.props; 

import "./CourseContainer.css";
---

<div class="courseContainerBackground">
    <div class="container courseContainer">
        <h2>{title}</h2>
        <div class="courseCarousel">
            {courses.map(({ link, title, description, imageSrc }) => (
                <CourseCard
                    link={link}
                    title={title}
                    description={description}
                    imageSrc={imageSrc}
                />
            ))}
        </div>
    </div>
</div>
