---
import ServiceCard from "./components/ServiceCard.astro";
const { services, title } = Astro.props; 

---

<div class="service-container container">
    <h2>{title}</h2>
    <div class="container carousel">
        {
            services.map(({imageSrc, titleCard,price,link}) => (
                <a href={link} class="carousel-card">
                    <ServiceCard
                        imageSrc={imageSrc}
                        titleCard={titleCard}
                        price={price}
                    />
                </a>
            ))
        }
    </div>
</div>
