---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/navbar/Navbar.astro";
import PromoBar from "../components/promoBar/PromoBar.astro";
import "../styles/global.css";
import Footer from "../components/footer/Footer.astro";
import { SEO } from '../constants/seo'

const {
title = SEO.DEFAULT_TITLE,
description = SEO.DEFAULT_DESCRIPTION,
image = SEO.DEFAULT_IMAGE,
} = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url.pathname} />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:wght@200;400;600&family=Playfair+Display:wght@400;900&display=swap"
            rel="stylesheet"
        />
        <ClientRouter />
    </head>

    <body>
        <header>
            <PromoBar />
            <Navbar />
        </header>

        <main>
            <slot />
        </main>

        <Footer />
    </body>
</html>
